---
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const latestSlug = posts[0].id.replace(/\.md$/, '');
const latestUrl = `/blog/${latestSlug}/`;
---
<!doctype html>
<html>
  <head>
    <meta http-equiv="refresh" content={`0;url=${latestUrl}`}>
    <link rel="canonical" href={latestUrl}>
    <title>Redirecting…</title>
  </head>
  <body>
    <a href={latestUrl}>Go to latest post</a>
  </body>
</html>
